{% extends "base.html" %}
{% block content %}
  <main class="article-page">
    <section>
      <h4 class="mb-3">Profile</h4>
      <p class="text-start">
        <img src="{{ SITEURL }}/images/profile.jpg" width="120" alt="theeluwin" />
      </p>
      <p>
        <b>제이미</b>, Ph.D.
        <br />
        스콜라아이돌교수버튜버입니다.
        <br />
        연락처: <span class="badge bg-secondary-subtle text-dark">theeluwin [at] gmail.com</span>
      </p>
    </section>
    <hr />
    <section>
      <h4 class="mb-3">Links</h4>
      <ul class="list-unstyled">
        <li>
          <i class="fa-solid fa-flask"></i>
          <a
            class="silent-link"
            href="https://dku-irdm.github.io"
            target="_blank"
          >
            Labsite
          </a>
        </li>
        <li>
          <i class="fa-brands fa-twitter"></i>
          <a
            class="silent-link"
            href="https://twitter.com/theeluwin"
            target="_blank"
          >
            Twitter
          </a>
        </li>
        <li>
          <i class="fa-brands fa-mastodon"></i>
          <a
            class="silent-link"
            href="https://hackers.pub/@theeluwin"
            target="_blank"
          >
            Hackers' Pub
          </a>
        </li>
        <li>
          <i class="fa-brands fa-github"></i>
          <a
            class="silent-link"
            href="https://github.com/theeluwin"
            target="_blank"
          >
            GitHub
          </a>
        </li>
        <li>
          <i class="fa-brands fa-youtube"></i>
          <a
            class="silent-link"
            href="https://www.youtube.com/@theeluwin"
            target="_blank"
          >
            YouTube
          </a>
        </li>
        <li>
          <i class="fa-brands fa-linkedin"></i>
          <a
            class="silent-link"
            href="https://www.linkedin.com/in/theeluwin"
            target="_blank"
          >
            LinkedIn
          </a>
        </li>
        <li>
          <i class="fa-brands fa-instagram"></i>
          <a
            class="silent-link"
            href="https://www.instagram.com/theeluwin"
            target="_blank"
          >
            Instagram
          </a>
        </li>
        <li>
          <i class="fa-brands fa-google-scholar"></i>
          <a
            class="silent-link"
            href="https://scholar.google.com/citations?user=V7niLDoAAAAJ"
            target="_blank"
          >
            Google Scholar
          </a>
        </li>
        <li>
          <i class="fa-solid fa-file"></i>
          <a
            class="silent-link"
            href="{{ SITEURL }}/pdfs/CV.pdf"
            target="_blank"
          >
            CV
          </a>
        </li>
      </ul>
    </section>
    <hr />
    <section>
      <h4 class="mb-3">Games</h4>
      <p>
        아래는 제가 추천하는 게임들입니다. 출시 순서대로 정렬되어 있습니다.
        이모지가 달려있는건 제가 그 게임을 100% 클리어 했다는 의미입니다.
      </p>
    </section>
    <section id="game">
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">1996</code>
        </span>
        ⭐
        &nbsp;
        슈퍼 마리오 64
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">1998</code>
        </span>
        🕷️
        &nbsp;
        젤다의 전설: 시간의 오카리나
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2000</code>
        </span>
        🎭
        &nbsp;
        젤다의 전설: 무쥬라의 가면
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2001</code>
        </span>
        🏆
        &nbsp;
        파이널 판타지 X
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2002</code>
        </span>
        🏆
        &nbsp;
        킹덤 하츠
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2005</code>
        </span>
        🏆
        &nbsp;
        킹덤 하츠 II
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2006</code>
        </span>
        🦋
        &nbsp;
        젤다의 전설: 황혼의 공주
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2009</code>
        </span>
        🏆
        &nbsp;
        파이널 판타지 XIII
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2010</code>
        </span>
        🏆
        &nbsp;
        킹덤 하츠: Birth by Sleep
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2011</code>
        </span>
        🏆
        &nbsp;
        젤다의 전설: 스카이워드 소드
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2013</code>
        </span>
        🏆
        &nbsp;
        드래그 온 드라군 3
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2015</code>
        </span>
        💖
        &nbsp;
        언더테일
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2016</code>
        </span>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        파이널 판타지 XV
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2016</code>
        </span>
        🏆
        &nbsp;
        다크 소울 3
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2017</code>
        </span>
        🏆
        &nbsp;
        니어: 오토마타
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2017</code>
        </span>
        🖤
        &nbsp;
        할로우 나이트
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2017</code>
        </span>
        🎩
        &nbsp;
        슈퍼 마리오 오디세이
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2018</code>
        </span>
        🌱
        &nbsp;
        젤다의 전설: 야생의 숨결
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2018</code>
        </span>
        🌙
        &nbsp;
        셀레스트
        <b id="wow">🍓 wow</b>
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2019</code>
        </span>
        💍
        &nbsp;
        파이어 엠블렘: 풍화설월
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2020</code>
        </span>
        ⭐
        &nbsp;
        젤다무쌍: 대재앙의 시대
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2020</code>
        </span>
        🩸
        &nbsp;
        하데스
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2022</code>
        </span>
        🏆
        &nbsp;
        리틀 위치 노베타
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2022</code>
        </span>
        🏆
        &nbsp;
        엘든링
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2023</code>
        </span>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        젤다의 전설: 왕국의 눈물
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2023</code>
        </span>
        🏆
        &nbsp;
        P의 거짓
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2023</code>
        </span>
        🏆
        &nbsp;
        와룡: 폴른 다이너스티
      </p>
      <p>
        <span class="badge bg-info-subtle me-1">
          <code class="text-info">2024</code>
        </span>
        💎
        &nbsp;
        젤다의 전설: 지혜의 투영
      </p>
    </section>
  </main>
{% endblock content %}
